aiofiles==23.2.1
aiogram==3.4.1
aiohttp==3.9.4
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.6.0
arsenic==21.8
asyncpg==0.29.0
attrs==23.2.0
blinker==1.7.0
Brotli==1.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
coloredlogs==15.0.1
contourpy==1.2.1
contrib==0.3.0
cryptography==42.0.5
cycler==0.12.1
executor==23.2
fasteners==0.19
fonttools==4.51.0
frozenlist==1.4.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
iniconfig==2.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kaitaistruct==0.10
kiwisolver==1.4.5
magic-filter==1.0.12
magiclog==1.0.2
matplotlib==3.8.4
multidict==6.0.5
numpy==1.26.4
outcome==1.3.0.post0
packaging==24.0
pillow==10.3.0
pluggy==1.5.0
property-manager==3.0
psycopg2-binary==2.9.9
pyasn1==0.6.0
pycparser==2.22
pydantic==2.5.3
pydantic_core==2.14.6
pyOpenSSL==24.1.0
pyparsing==3.1.2
PySocks==1.7.1
pytest==8.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.1
referencing==0.34.0
requests==2.31.0
rpds-py==0.18.0
schedule==1.2.1
selenium==4.19.0
selenium-wire==5.1.0
setuptools==69.5.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
stackclimber==0.99
structlog==20.2.0
thread==1.1.1
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.11.0
undetected-chromedriver==3.5.5
urllib3==2.2.1
v2==1.0.7
validators==0.28.1
verboselogs==1.7
webdriver-manager==4.0.1
websockets==12.0
wsproto==1.2.0
yarl==1.9.4
zstandard==0.22.0
xvfbwrapper~=0.2.9